body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100%;
}

#title {
  text-align: center;
  letter-spacing: .5em;
  margin-bottom: 30%;
}


.clock {
  text-align: center;
  letter-spacing: .5em;
  font-size: 5vw;
}

.container {
  display: flex;
  justify-content: space-evenly;
}